.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;

    border-bottom: 1px solid #eee;
    background: #fff;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #111;
}

.navList {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navItem a {
    text-decoration: none;
    color: #111;
    font-size: .95rem;
    transition: color 0.2s ease;
}

.navItem a:hover {
    color: #00ffff;
    text-decoration: underline;
}